NEXT_PUBLIC_SUPABASE_URL=https://msinotcggowyryxeydlw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1zaW5vdGNnZ293eXJ5eGV5ZGx3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyNjkzNDQsImV4cCI6MjA4OTg0NTM0NH0.A5PhByeBX48C9uxGB1d1rNQd3XjsCtHhVuhtAveVmUQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1zaW5vdGNnZ293eXJ5eGV5ZGx3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI2OTM0NCwiZXhwIjoyMDg5ODQ1MzQ0fQ.i1vQKzaNpfyTdlswWxMIJPOxpqtAnArapej00gxRews
NEXT_PUBLIC_APP_URL=http://localhost:3000